* {
    box-sizing: border-box; 
    margin-left: 2%; 
    font-family: 'Red Rose', cursive; 
 }
 body {
   background-repeat: no-repeat;
   background-color: black;
    /* height: 100vh; */
    /* width: 100vw;  */
    display: flex;
   flex-direction: column;
   justify-content: space-between;
 } 
 li {
   list-style: none;
   cursor: pointer;  
}
a {
   text-decoration: none;
   color: yellow;
}
nav div button {
   background-color: #d75151;
   padding: 4px 10px;
   cursor: pointer;
   color: white;
   border: 1px solid white;
   font-weight: 800;
   width: fit-content;
   border-radius: 5px;
   margin-left: 510px;
}
main div button {
   background-color: #d75151;
   padding: 10px 16px;
   cursor: pointer;
   color: white;
   border: 1px solid white;
   font-weight: 800;
   width: fit-content;
   border-radius: 8px;
   margin-left: 155px;
}
button:hover {
   background-color: white;
   color: black;
   border: 2px solid black;
}
nav {
   display: flex;
   /* width: 100%; */
   align-items: center;  
   justify-content: space-around;
   padding: 20px 2px;
   height: 15vh;
}
nav ul {
   display: flex;
   align-items: center;
   gap: 20px;
   font-weight: 500; 
}
nav ul li:hover {
   text-decoration: underline;
   text-decoration-color: red;
   font-weight: 900;
}
  nav .logo img {
   position: fixed;
   left: 2%; 
   top: 20px;
  }
main {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 main div h1 {
   font-size: 80px;
   margin-bottom: 16px;
   margin-top: 73px;
   font-weight: 900;
   color: #d8e709fe;
 }
 footer .image {
   position: fixed;
   right: 5%;
   top: 540px;
 }